.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Frank Ruhl Libre";
}
.menu-item-wrapper.active {
  background-color: #4b4a4a;
  color: #fff;
  outline: none;
}
.menu-item.active {
  background-color: #4b4a4a;
  color: #fff;
  outline: none;
}
 
.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}
.article-list {
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.container-app2 {
  width: 70%;
  margin: auto;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.divider1 {
  width: 80%;
  margin: auto;
}
.App-link {
  color: #61dafb;
}
.p-3 {
  padding: 25px 0;
}
.card-img {
  height: 60vh;
}
.container-app {
  width: 80%;
  margin: auto;
}
.popular-img {
  background-image: url('https://placeimg.com/640/480/any');
  background-size: cover;
  height: 160px;
  background-position: center;
}
.popular-img-1 {
  background-image: url('https://placeimg.com/640/480/any');
  background-size: cover;
  height: 100px;
  background-position: center;
}
.popular-img-2 {
  background-image: url('https://placeimg.com/640/480/any');
  background-size: cover;
  height: 160px;
  background-position: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.art-app {
  display: block;
}
@media only screen and (max-width: 480px) {
  .card-img {
    height: 25vh;
  }
  .text-title {
    font-size: 16px;
  }
}
.text-title {
  text-align: center;
  font-size: 26px !important;
}
.bg-article {
  background-image: url('https://placeimg.com/1000/500/any');
  height: 354px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.bg-article1 {
  background-image: url('https://placeimg.com/1000/500/any');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 300px;
}
.content-article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 354px;
  text-align: center;
  padding: 20px;
}
.content-article2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 354px;
  text-align: center;
  padding: 20px;
}
.content-article1 {
  display: none;
  justify-content: center;
  align-items: center;
  height: 354px;
  text-align: center;
  padding: 20px;
}
.title1 {
  font-size: 28px !important;
  color: #000;
}
.title2 {
  font-size: 17px !important;
  color: #000;
  margin-top: 20px !important;
  margin-bottom: 30px !important;
}
.author-article {
    margin-top: 40px;
}
.information1 {
  display: none;
}
@media only screen and (max-width: 780px) {
  .container-app {
    width: 90%;
  }
  .art-app {
    display: none;
  }
  .container-app2 {
    width: 90%;
  }
  .information {
    display: none;
  }
  .information1 {
    display: block;
    margin-top: 20px;
  }
  .MuiTypography-h6 {
    font-size: 14px !important;
  }
  .content-article1 {
    display: flex;
    height: 120px;
  }
  .content-article {
    display: none;
  }
  .text-title {
    font-size: 26px !important;
  }
  .title1 {
    font-size: 24px !important;
  }
  .title2 {
    margin-top: 10px !important;
    font-weight: 300 !important;
    margin-bottom: 20px !important;
  }
  .author-article {
    margin-top: 20px !important;
  }
  .name-category {
    font-size: 70px !important;
  }
  .content-article2 {
    height: 160px !important;
  }
}